<header>
    <div class="header-content">
        <div class="header-content-inner">
            <img class="header-logo animated fadeInDown"/>
            <h1 id="header-name" class="animated fadeIn">Yasser El-Sayed</h1>
            <div class="sub-header animated fadeIn"> This isn't a template! </div>
        </div>
    </div>
    <h5 ng-click="mc.scrollTo('about-me')" class="clickable about-me animated fadeIn"> About me <span
            class="arrow-down"></span></h5>
</header>

<section id="about-me" class="bg-secondary">
    <div class="container">
        <div class="row center-block photo-container">
            <img ng-src="img/personal/pp.jpeg" class="col-lg-12 img-responsive img-circle personal-photo"/>
        </div>
        <div class="row center-block">
            <div class="col-lg-12 bg-dark-secondary about-me-description">
                <div class="about-me-header"> About me</div>
                <p>
                    Hi my name is Yasser El-Sayed. I'm Computer Science Student at CMU extremely passionate about
                    software development. I focus on Full-Stack Web Development. If you have any interest in contacting
                    about anything please use this site to do so!
                </p>

            </div>
        </div>
    </div>
</section>

<section id="skills" class="bg-black">
    <h1 class="services-header"> Skills </h1>
    <h4 class="services-subheader">
        This is the skills that I can offer anyone that gets in touch with me.
        These are the skills that I'm most comfortable with and I am passionate about.
    </h4>
    <div class="container">
        <div class="skill-box" ng-repeat="entry in mc.skillData">
            <div class="skill-box-header text-center">
                {{entry.header}}
            </div>
            <div class="skill-box-subheader-row row" ng-repeat="subentry in entry.sub">
                <div class="skill-box-subheader text-center col-xs-2">
                    {{subentry.subheader}}
                </div>
                <div class="skill-box-subtitle text-center col-xs-2">
                    {{subentry.subtitle}}
                </div>
                <div class="progress col-xs-7">
                    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
                         aria-valuenow="40"
                         aria-valuemin="0" aria-valuemax="100" style="width: 0" scroll perc="{{subentry.level}}"
                         sing="false">
                        {{subentry.level}}%
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="portfolio">
    <h1 class="port-header"> Portfolio </h1>
    <h4 class="port-subheader">
        You'll find the work I'm most proud of here! Click on them to checkout relevant links
    </h4>
    <div class="container">
        <ul id="filters" class="clearfix">
            <li><span class="filter active" data-filter=".all, .app, .project, .web, .article">All</span></li>
            <li><span class="filter" data-filter=".app">Apps</span></li>
            <li><span class="filter" data-filter=".project">Projects</span></li>
            <li><span class="filter" data-filter=".web">Web</span></li>
            <!--<li><span class="filter" data-filter=".article">Articles</span></li>-->
        </ul>

        <div id="portfoliolist">
            <div ng-repeat="d in mc.portfolio" class="portfolio {{d.filter}}" data-cat="{{d.filter}}" ng-click="mc.changeLocation(d.hlink)">
                <div class="portfolio-wrapper">
                    <img class="main-image" ng-src="{{d.src}}" alt=""/>
                    <div class="label">
                        <div class="label-text">
                            <a class="text-title">{{d.title}}</a>
                            <span class="text-category">{{d.description}}</span>
                        </div>
                        <div class="label-bg">
                            <div class="label-tools">
                                <div class="label-tool" ng-repeat="t in d.tools">
                                    <img ng-src="{{t.logo}}" data-toggle="tooltip" data-placement="right" title="{{t.name}}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section id="resume" class="bg-primary">
    <h1 class="resume-header"> Resumé/CV </h1>
    <h4 class="resume-subheader">
        Here's my Official Resumé. If you're into that sort of thing.
    </h4>
    <div class="view-pdf">
        <a href="img/personal/Yasser,%20Resume.pdf" target="_blank">
            <i class="shrink-arrow animate-right fa fa-arrow-right"></i>
                <span class="fa-stack">
                    <i class="fa fa-file-pdf-o"></i>
                </span>
            <i class="shrink-arrow animate-left fa fa-arrow-left"></i>
        </a>
        <br>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h4><strong>Yasser El-Sayed</strong>
                </h4>
                <p>Carnegie Mellon University, Class 2017 <br>School of Computer Science</p>
                <ul class="list-unstyled">
                    <li><i class="fa fa-phone fa-fw"></i> +974 6693-0377</li>
                    <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:yelsayed@cmu.edu">yelsayed@cmu.edu</a>
                    </li>
                </ul>
                <br>
                <ul class="list-inline">
                    <li>
                        <a href="https://qa.linkedin.com/in/yasser-el-sayed-689614127?trk=prof-samename-name"><i
                                class="fa fa-linkedin fa-fw fa-3x"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/ysrsayed"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                    </li>
                    <li>
                        <a href="https://medium.com/@ysr.sayed"><i class="fa fa-medium fa-fw fa-3x"></i></a>
                    </li>
                </ul>
                <hr class="small">
                <p class="text-muted">Copyright &copy; Yasser El-Sayed 2016</p>
            </div>
        </div>
    </div>
</footer>